 color: white;
  
  text-shadow: 5px 5px red;
}
h2{
  font-size: 200px;
  color: yellow;
  text-shadow: 5px 5px black;
}
input{
  font-size: 80px;
  width: 70%;
  border: 5px solid blue;
}
button{
  font-size: 60px;
  background: gray;
  border-radius: 15px;
  border: 3px solid green;
  font-weight: 400;
}
.ig{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  
  border:2px solid red;
}
.txt{
   text-align:center;
}
